/**********************************INSTRUCTION BOX**************************************/
#game_ins{
	width: 600px;
	height: 200px;
	margin-left: 400px;
	position: absolute;
	background-color: #4F5971;	
	border-radius: 10px;
}
body{
	background-image: url("../images/wallpaper1.jpg");
	background-size: 1366px 768px;*/
	background-repeat: no-repeat;
	margin: 0;
}
h1{
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	/*margin-top: 70px;*/
	text-align: center;
}
#game_ins > p{
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 70px;
	text-align: center;

}

#play{
	background-color: #4CAF50;
	border-radius: 8px;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 300px;
    margin-left: 250px;
    font-weight: bold;
}

#play:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
p{
	font-family: 'Merriweather', serif;
}

/*****************GAME BOX**************************/
#timer_container{
	width: 600px;
	height: 200px;
	margin-left: 400px;
	position: absolute;
	background-color: black;
	border-radius: 10px;
}
#timer_container > p{
	font-family: 'Orbitron', sans-serif;
	font-size: 3em;
	font-weight: bold;
	margin-top: 70px;
	text-align: center;
	color: white;
}
#play_again_box{
	width: 200px;
	height: 150px;
	margin-left: 600px;
	position: absolute;
	background-color: green;
	border-radius: 40px;
	top: 250px;

}

#play_again_box >p{
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding-left: 28px;
	padding-top: 25px;
	color: white;
	display: inline-block;
}
#play_again_box:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#image1{
	width: 50px;
	height: 50px;
	bottom: auto;
	transform: rotate(90deg);
}

.flags{
	width: 50px;
	height: 50px;
}
#start_pos{
	position: absolute;
	top: 470px;
	left: 55px;

}
#finish_pos{
	position: absolute;
	top: 470px;
	left: 1280px;
}
#audio1{
	display: "none";
}

#home_screen{
	background-color: #4CAF50;
	border-radius: 8px;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 450px;
    margin-left: 600px;
    width:200px;
    height: 100px;
}

#home_screen:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/***********************ROCKETS*******************/
.rocket{
	position: fixed;
	width: 50px;
	height: 100px;
	bottom: 10px;
}
#alien{
	position: relative;
	width: 200px;
	height: 200px;
	/*align-self: center;*/
	/*margin: auto;*/
	left: 150px;
	top: 180px;
}

#rocket1{
	left: 10px;
	animation-name: lift;
	animation-duration: 4s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}
#rocket2{
	right: 10px;
	animation-name: lift;
	animation-duration: 4s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}
@keyframes lift {
  from {top: 650px;}
  to {top: 0;}
}
#ufo{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  animation: riseset 10s infinite;
}
@keyframes riseset {
  0% {
    top: 100%;
	left: 100%;
  }
  50% {
    top: 10%;
	left: 50%;
  }
  100% {
    top: 100%;
	left: 0%;
  }
}
#ufo1{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  animation: riseset 10s infinite;
  animation-direction: alternate-reverse;
}
@keyframes riseset {
  0% {
    top: 100%;
	left: 0;
  }
  50% {
    top: 10%;
	left: 100px;
  }
  100% {
    top: 100%;
	left: 100%;
  }
}
/**********************************************************/
#dialogue{
}
#dialogue img{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 380px;
	left: 1260px;
	opacity: .5;
}

#logo{
	top: 0;
	margin-left: 10px;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	border-radius: 5px;
}